.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
}


.form-control {

    width: auto;
}
span {
        width: 100px;
        display: inline-block;
    }


